
/*guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */


.flex{

}
.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;  /*gets rid of bullets*/
    display: flex;
    flex-direction: row;   /*column row row-reverse column reverse*/
    flex-wrap: wrap;        
   /*  flex-flow: row wrap;    combines above two lines */
    
    justify-content: space-between;   /*determines what happens with extra space when max size of items are reached; center, space-between, space-around, space evenly*/
    
    align-items:flex-end;     /*align items vertically; center, baseline, flex-start/end*/
}

.flex-item{
    padding: 5px;
    margin-top: 10px;
    
  
}