/* ----------------------------------
         Global styles 
------------------------------------*/
:root{
    --dark-grey: #363636;            /*rgb(54,54,54)*/
    --dark-blue: #191f5c;
    --off-white: #F7F8F9;
    --accent: #19b491;                /*rgb(25,180,145)*/
}
@font-face{
    font-family: " "; 
    src: url();
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--off-white);
       
}

main{
     position: absolute;
    top: 0;
    left: 40px;
    z-index: 0;
}

.sectionTitle{
    background-color: var(--accent);
    padding: 1% ;
    
    color: white;
    
}

/* ----------------------------------
         Home  
------------------------------------*/

 .navbar-transparent {
	z-index: 2;
} 
.navbar-nav{
    display: inline;
}
 .navbar-transparent a {
	color:black;				
}
.navbar-transparent a:hover{
    color: var(--accent) !important;		
}
.navbar-toggle .icon-bar {
   background-color: white;
}
.navbar-nav {
  display: flex;
}



#topPic{
	width: 100%; 
}

#name{
    color: black;
    margin: 0 auto;
    position: absolute;
    top: 300px;
    z-index: 2
}


/*-----------------------------------
        Welcome
-----------------------------------*/

.welcSect{
    background-color: var(--off-white);
}

.welcSect a{
    color:var(--accent);
    font-weight: bold;
}
.welcSect .card{
    background-color: var(--off-white);
}
.empa{
    color: var(--accent);
    font-weight: bold;
}
#senior{
    width: 100%;
}
/* ----------------------------------
         Abilities
-------------------------------------*/
.abilities{
    background-color: var(--dark-grey);
/*    background-image: url(images/technologies/text.jpg);*/
    background-size: cover;
    color: white;
    min-height: 300px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
   
}
.abDiv{
 margin: 0 auto;
 width: 100%;

}
.abilities img{
    border-radius: 6px;
}

.abilities h2{
    text-align: center;
}
.abilities img{
    width: 7%;
}

/*----------------------------------- 
        Portfolio 
        Note: make small and large media query
------------------------------------*/
.portSect{
    background: var(--off-white);
    color: black;
    text-align: center;
}

.picCont {
  position: relative;
  width: 100%;
}

.picCont img {
  display: block;
  width: 100%;
  height: auto;
}
.card{
background-color: white;
}
.card a{
    color: black;
}
.card h4{
    font-weight: bold;
    font-size: 1.5em;
}
.card p{
    font-style: italic;
    font-size: 1.3em;
    color: gray;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgba(25,180,145, .9);
}

.picCont:hover .overlay {
  opacity: 1;
}
.plus {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*----------------------*/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}




.more{
    width: 100%;
    background-color: var(--accent);
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.secondRow{
    margin-top: 30px;
}



/* ----------------------------------
         History
---------------------------------------*/
.history{
    margin-bottom: 200px;
    position: relative;
    top: 0;
    max-height: 1800px;
}
.expTitle{
    position: absolute;
    top: 0;
    text-align: center;
    margin-left: 45%;
    color: white;
}
.line{
    margin-left: 49%;
    position: absolute;
    top: 0;
    
}
.back{
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1465438503376-a2a921c57ffa?auto=format&fit=crop&w=640&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 2000px;
    width: 100%;
}

.circle{
    width: 35px;
    height: 35px;
    background-color: var(--dark-grey);
    border-radius: 30px;
    position: absolute;
    margin-left: 49%;
}

/*
.cir1{  top: 135px; }
.cir2{  //top: 370px; }
.cir3{  top: 605px; }
.cir4{  top: 840px; }
.cir5{  top: 1075px; }
.cir6{  top: 1335px; }
*/

.hist{     /*boxes*/
min-width: 300px;
    width: 30%;
    background-color: rgba(54,54,54, .9) ;
    color: white;
    padding: 20px;
}
.leftPos{
    float: left;
    position: relative;
    left: 15%;
}
.rightPos{
    float: right;
    position: relative;
    right: 15%;
}
.rightDate{
    float: right;
    color: white;
    position: relative;
    right: 30%;  
    margin-top: 5px;
    font-size: 1.25em;
    width: 15%;
}
.leftDate{
    float: left;
    color: white;
    position: relative;
    left: 35%;
    margin-top: 5px;
    font-size: 1.25em;
    width: 15%;

}


/* ----------------------------------
          References 
------------------------------------*/
.refSect{
    background-color: var(--dark-grey);
    color: white;
    padding: 35px 30px 30px 30px;
    min-height: 450px;
    display: flex;
    align-items: center;
}
.refSect h3{
    text-align: center;
    padding: 20px 5px 20px 0px;
    border-right: 2px solid white;
    max-width: 100px;
}
.reference{
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.ref{
    width: calc(50% - 32px);
   justify-content: center;
   padding-bottom: 10px;
}



/*--------------------------------------
        Contact Me
------------------------------------------*/
.contactSect{
     background: url(images/background.jpg);
     background-attachment: fixed;
     background-color: var(--accent);
     color: var(--dark-grey);
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 100px 0px;
}

.contactSect h3{
    color: var(--accent);
    font-weight: bold;
}




/*--form--*/
.contForm{
    margin-left: 5%;
    width: 60%;
}

.contactSect input{
    width: 25%;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: grey;
    padding: 2px 0;
}
.contactSect textarea{
    width: 100%;
    border-radius: 7px;
    color: grey;
}
#submit{
    position: relative;
    left: 75%;
    margin-top: 5px;
    background-color: transparent;
    color: var(--accent);
    border-color: var(--accent);
}
#submit:hover{
    background-color: var(--accent);
    color:white;
}
/*--contact info--*/
.contInfo{
    margin-left: 30px;
}
.imgSocial img{
  width: 50px;
}

.imgSocial{
    position: relative;
}
.imgSocial:hover .hoverSocial{
    display: inline;
}
.hoverSocial{
    display: none;
    position: absolute;
    left: 0;
    transition: .8s ease;
}


/*--------------------------------------
        Other Screen sizes(index)
--------------------------------------*/
@media screen and (max-width: 600px){ 
    /** History **/
    .hist{
        width: 100%;
        float: none;
        margin: 0;
    }
    .rightDate{
    float: none;
    margin: 0
    }
    .leftDate{
    float: none;
    margin: 0;
    }
    .line{
    display: none;
    }
    .circle{
    display: none;
    }
    .p5{display:none;}
    .p6{display:none;}
    .p7{display:none;}
    .p8{display:none;}
    .p9{display:none;}
    .p10{display:none;}
    
    /**Ref **/
    .r3{display: none;}
    .r4{display: none;}
    /**Portfolio **/
    
}



/*--------------------------------------
        Projects
--------------------------------------*/
.geoPic{
    background-size: cover;
    min-height: 500px;
    max-height: 700px;
    background-attachment: fixed;
}



/*--------------------------------------
        Features
--------------------------------------*/

 object{
    width: 500px;
}









/*--------------------------------------
        Footer
--------------------------------------*/
footer{
    background-color: var(--accent);
	color: white;
	text-align: center;
	width: 100%;
	height: 50px;
	


}



@media (min-width: 600px) {
  
}

}
