/* ----------------------------------
         Global styles 
------------------------------------*/
:root{
    --dark-grey: #1d1d1c;            /*rgb(29,29,28)*/
    --dark-blue: #191f5c;
    --off-white: #F7F8F9;
    --accent: #f67000;                /*rgb(25,180,145)*/
/*    --accent: #19b491;                rgb(25,180,145)*/
}
@font-face{
    font-family: " "; 
    src: url();
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-grey);
    
}
main{
    position: absolute;
    left: 30px;
    padding: 10px;
    color: white;
    height: 100%;
}

.hr{
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    height: 10px;
    width: 80%;
    margin: 0 auto;
}


/* ----------------------------------
         Home  
------------------------------------*/


.bar{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  white-space: nowrap;
  
  z-index: 4;
  position: fixed;
  width: 100vh;
  top: -2em;
  line-height: 2em;
  transform: rotate(90deg);
  transform-origin:  bottom left;
  background-color:rgba(29,29,28, .4) ;
  border-top: 1px solid white;
}

.bar li{
    display: inline-block;
    margin: 0 1em;
    color: white;
}

.bar li a{
    color: white;

}


.topPic{
background: url("https://images.unsplash.com/photo-1525968902-070804c406e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c1fd511e8084af7e3c53226f4a54cbbf&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    height: 100vh;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*-----------------------------------
        About
-----------------------------------*/
.about{
    padding: 30px;
}

.text-accent, .about a, .about a:hover{
    color: var(--accent);
}




/*----------------------------------- 
        Portfolio 
------------------------------------*/
.portfolio{
    margin-left: 15px;
}
.portItem{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portItem .btn-accent{
    background-color:transparent;
    color: var(--accent) !important;
    border: 1px solid var(--accent);
    padding: 8px;
}
.portItem .btn-accent:hover{
    background-color: var(--accent);
    color: white !important;
     text-decoration: none;
}
.portItem .btn-white{
    background-color:transparent;
    color: white;
    border: 1px solid white;
    padding: 8px;
}
.portItem .btn-white:hover{
    background-color: white;
    color: var(--accent) !important;
    text-decoration: none;
}

.portItem ul{
    list-style-type: none;
     -webkit-padding-start: 0 !important;
}
.skillItem{
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 12px;
    background-color: #333;
    color: var(--off-white) !important;
}

/*--------------------------------------       
        Experience
------------------------------------------*/
.exp-row .right{
    border-left: 1px solid lightgrey;
}


/*--------------------------------------
        Contact Me
------------------------------------------*/
.contactSect{
     background-attachment: fixed;
     color: var(--dark-grey);
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 100px 0px;
}

.contactSect h3{
    color: var(--white);
    font-weight: bold;
}




/*--form--*/
.contForm{
    margin-left: 5%;
    width: 60%;
}

.contactSect input{
    width: 25%;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: grey;
    padding: 2px 0;
}
.contactSect textarea{
    width: 100%;
    border-radius: 7px;
    color: grey;
}
#submit{
    position: relative;
    left: 75%;
    margin-top: 5px;
    background-color: transparent;
    color: var(--accent);
    border-color: var(--accent);
}
#submit:hover{
    background-color: var(--accent);
    color:white;
}
/*--contact info--*/
.contInfo{
    margin-left: 30px;
}
.imgSocial img{
  width: 50px;
}

.imgSocial{
    position: relative;
}
.imgSocial:hover .hoverSocial{
    display: inline;
}
.hoverSocial{
    display: none;
    position: absolute;
    left: 0;
    transition: .8s ease;
}


/*--------------------------------------
        Projects
--------------------------------------*/




/*--------------------------------------
        Features
--------------------------------------*/









/*--------------------------------------
        Footer
--------------------------------------*/
footer{
    background-color: var(--accent);
	color: white;
	text-align: center;
	width: 100%;
	height: 50px;
	


}



@media (min-width: 600px) {
  
}

}
