
$dark-grey: #1d1d1c;            /*rgb(29,29,28)*/
$dark-blue: #191f5c;
$off-white: #F7F8F9;
$white: #fff;
$accent: #f67000;                /*rgb(25,180,145)*/



/* ----------------------------------
         BootStrap Customization  
------------------------------------*/
.container{
	max-width: 1800px;
	margin-left: 32px;
	width: calc(100% - 33px);
}



/* ----------------------------------
         General Settings  
------------------------------------*/
body{
    font-family: 'Lato', sans-serif;
    background-color: $dark-grey;
}
main{
    position: relative;
    left: 30px;
    color: $white;
	
    height: 100%;
    padding: 10px;
    
}

img{
width: 100%;
}

a{
	color: $accent;
	text-decoration: none;
	&:hover{
		color: $accent;
		text-decoration: underline;
	}
}
h1,h2,h3{
	font-weight: 700;
}
.hr{
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    height: 10px;
    width: 100%;
    margin: 20px 0;
}

.btn-accent{
    background-color:transparent;
    color: $accent !important;
    border: 1px solid $accent;
    padding: 8px;
}
.btn-accent:hover{
    background-color: $accent;
    color: white !important;
     text-decoration: none;
}
.btn-white{
    background-color:transparent;
    color: white;
    border: 1px solid white;
    padding: 8px;
}
.btn-white:hover{
    background-color: white;
    color: $accent !important;
    text-decoration: none;
}



/* ----------------------------------
         Home  
------------------------------------*/


.bar{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  white-space: nowrap;
  
  z-index: 4;
  position: fixed;
  width: 100vh;
  top: -2em;
  line-height: 2em;
  transform: rotate(90deg);
  transform-origin:  bottom left;
  background-color:rgba(29,29,28, .4) ;
}

.bar li{
    display: inline-block;
    color: white;
    border-top: 1px solid white;
    width: 100%;

}

.bar li a{
    color: white;
    text-decoration: none;

    
}
.highlight{
    border-top: 1px solid $accent !important;
}
.highlight a{
        color: $accent !important;

}

.topPic{
	background: url("https://images.unsplash.com/photo-1525968902-070804c406e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c1fd511e8084af7e3c53226f4a54cbbf&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    height: 100vh;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*-----------------------------------
        About
-----------------------------------*/
.about{
    padding: 50px 0 70px;
}

.text-accent, .about a, .about a:hover{
    color: $accent;
}




/*----------------------------------- 
        Portfolio 
------------------------------------*/
.portfolio{
   margin: 50px 0;
}
.portItem{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.portItem ul{
    list-style-type: none;
     -webkit-padding-start: 0 !important;
}
.skillItem{
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 12px;
    background-color: #333;
    color: $off-white !important;
}

/*--------------------------------------       
        Experience
------------------------------------------*/
.exp-row .right{
    border-left: 1px solid lightgrey;
}

.experience{
}

/*--------------------------------------
        Contact Me
------------------------------------------*/
.contact{
     background-attachment: fixed;
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 20px 0px;
}

.contact h3{
    color: $white;
    font-weight: bold;
}




/*--form--*/
.contForm{
    margin-left: 5%;
    width: 60%;
}
.contact a, .contact a:hover{
    color: white;
}
.contact input{
    width: 100%;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: grey;
    padding: 2px 5px;
}
.contact textarea{
    width: 100%;
    border-radius: 7px;
    color: grey;
    padding: 2px 5px;

}
#submit{
    position: relative;
    left: 85%;
    margin-top: 5px;
   width: 15%;
}
.contact .row{
	width: 95% !important;
}

/*--contact info--*/

.imgSocial img{
  width: 50px;
}

.imgSocial{
    position: relative;
}
.imgSocial:hover .hoverSocial{
    display: inline;
}
.imgSocial a:hover{
    text-decoration: none !important;
}
.hoverSocial{
    display: none;
    position: absolute;
    left: 0;
    transition: .8s ease;
}


/*--------------------------------------
        Projects
--------------------------------------*/




/*--------------------------------------
        Features
--------------------------------------*/









/*--------------------------------------
        Footer
--------------------------------------*/
footer{
    background-color: $accent;
	color: white;
	text-align: center;
	width: 100%;
	height: 30px;
    
    
	


}



@media (min-width: 600px) {
  
}


